/*
========================================
NAVIGATION
========================================
*/
nav {
    background-color: black;
    padding: 10px 0;
}

nav ul {
    display: flex;
    justify-content: center;
}

nav ul li {
    display: inline;
    margin: 0 12px;
}

nav ul li a {
    font-size: 1.1rem;
    color: white;
    text-decoration: none;
}

nav ul li a:hover {
    color: #d9d9f9;
}

nav ul li a.active {
    color: #d9d9f9;
}

/*
====================================
TITLES
====================================
*/


.title,
.subtitle {
    text-align: center;
}

h2.title {
    font-family: 'Josefin Slab', serif;
    text-transform: uppercase;
    font-size: 4.2rem;
    font-weight: 400;
}

.title a {
    color: black;
    text-decoration: none;
}

.subtitle {
    margin-top: -2.5rem;
    font-size: 1.8rem;
    font-family: "times new roman", serif;
}

/*=========================================*/

header {
    height: 30rem;
    background-size: 100%;
    background-image: url('../img/header.jpg');
    background-repeat: no-repeat;
    background-position: 10% 40%;
}

/*
==============================================
CONTENT
==============================================
*/
.first {
    margin-top: -5rem;
}

.post {
    border: 1.5rem solid white;
}

img.postphoto {
    overflow: hidden;
    width: 100%;
    height: auto;
}

.post div.postcontent {
    width: 80%;
    padding: 0 10%;
    margin-top: -5px;
    border: 1px gray solid;
    border-top: none;
}

div.comment {
    display: flex;
    justify-content: space-between;
}

div.comment img {
    cursor: pointer;
    margin-top: 15px;
    width: 20px;
    height: 20px;
}

.postcontent a {
    color: black;
    text-decoration: none;
}

p.comment {
    cursor: pointer;
    flex-grow: 1;
    margin-left: 10px;
}

img.avatar {
    width: 30px;
    height: 30px;
    margin-top: 20px;
    margin-bottom: -55px;
}

div.postinfo p {
    margin-left: 40px;
}

p.admin {
    margin-bottom: -10px;
}


p {
    font-family: "times new roman", serif;
}

h3 {
    font-family: 'Josefin Slab', serif;
    font-size: 1.8rem;
    font-weight: 400;
}

button:hover {
    background-color: white;
    color: black;
    border: 1px solid;
    transition: 0.5s
}
